.background-main{
    background-color: #03071E;
}
.festival{
    color: whitesmoke;
    background-image: url("../asset/imagenes/guitar2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    padding: 120px;
    h1{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        padding-bottom: 190px;
    }
}
.info-festival {
    p{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 40% 10% / 20% 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-size: 1.3em;
    padding: 15px;
    text-align: center;
    text-indent: 20px;
    width: 60%;
    }
}