/*NAVBAR*/
a:hover {
    color: antiquewhite;
    transition: 0.7s;
}
/*HOME*/
.animated-shadow{
    color: #ffffff;
    height: 140px;
    left: 0;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    animation: move linear 5000ms infinite;
    z-index: 2
}
/*shadow animation*/
@keyframes move {
    0% {
        text-shadow:
        4px -4px 0 $red-fury,
        3px -3px 0 $red-fury,
        2px -2px 0 $red-fury,
        1px -1px 0 $red-fury,
        -4px 4px 0 $ocean-blue,
        -3px 3px 0 $ocean-blue,
        -2px 2px 0 $ocean-blue,
        -1px 1px 0 $ocean-blue;
    }
    25% {
        text-shadow:
        -4px -4px 0 $ocean-blue,
        -3px -3px 0 $ocean-blue,
        -2px -2px 0 $ocean-blue,
        -1px -1px 0 $ocean-blue,
        4px 4px 0 $red-fury,
        3px 3px 0 $red-fury,
        2px 2px 0 $red-fury,
        1px 1px 0 $red-fury;
    }

    50% {
        text-shadow:
        -4px 4px 0 $red-fury,
        -3px 3px 0 $red-fury,
        -2px 2px 0 $red-fury,
        -1px 1px 0 $red-fury,
        4px -4px 0 $ocean-blue,
        3px -3px 0 $ocean-blue,
        2px -2px 0 $ocean-blue,
        1px -1px 0 $ocean-blue;
    }

    75% {
        text-shadow:
            4px 4px 0 $ocean-blue,
            3px 3px 0 $ocean-blue,
            2px 2px 0 $ocean-blue,
            1px 1px 0 $ocean-blue,
            -4px -4px 0 $red-fury,
            -3px -3px 0 $red-fury,
            -2px -2px 0 $red-fury,
            -1px -1px 0 $red-fury;
    }

    100% {
        text-shadow:
            4px -4px 0 $red-fury,
            3px -3px 0 $red-fury,
            2px -2px 0 $red-fury,
            1px -1px 0 $red-fury,
            -4px 4px 0 $ocean-blue,
            -3px 3px 0 $ocean-blue,
            -2px 2px 0 $ocean-blue,
            -1px 1px 0 $ocean-blue;
    }
}
