.contact-background{
    background-image: url("../asset/imagenes/contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.contact-form {
    article {
        h1{
        font-size: 3em;
        @include font-weight ('Roboto'sans-serif,500);
        text-align: center;
        padding-top: 5%;
    }
}
}

.container-contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    margin: 3%;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.27);
        h2{
            color: #6A040F;
            font-size: 2em;
            @include font-weight ('Roboto'sans-serif, 500);
            text-align: center;
        }
}

.container-contact-form .form{
    font-size: 1.5em;
}