header{
    nav{
        background:$main-background;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.navbar{
    a {
        text-decoration: none;
        color:#D00000;
        text-align: center;
        img{
            width: 3.5em;
        }
    }
    li {
        list-style-type: none;
        word-spacing: 1em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold;
    }
}

