/*@media only screen and (max-width: 768px){
    .tickets-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        margin: 6%;
    }
    .ticket-card{
        background-color: #6A040F;
        color: antiquewhite;
        width: 80%;
        border-radius: 20px;
        margin: 3%;
    }
}
@media screen and (min-width:769px) and (max-width: 1024px){
    .tickets-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        margin: 15%;
    }
    .ticket-card{
        background-color: #6A040F;
        color: antiquewhite;
        width: 50%;
        border-radius: 20px;
        margin: 3%;
    }
}*/
